/* font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #000000;
  color: white;
  font-family: 'Roboto', sans-serif;
}

hr {
  height: 7px;
  border: none;
  background-color: #1f1f1f;

}
a{
  text-decoration: none;
  color: white;
}

/* project css  */

.primary {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 3rem;
}

.primary-bg {
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  z-index: -1;

}

.header .logo {
  width: 10rem;


}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;

}

.header-right {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  align-items: center;
}

.language {
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.header-right .sign-in {
  background-color: #e50913;
  padding: 4px 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.featured {
  
  margin-top: 4rem;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.featured h1 {
  font-size: 3rem;
  font-weight: 700;
  width: 35rem;
  text-align: center;
}

.featured h2 {
  font-size: 2rem;
  width: 35rem;
  text-align: center;

}

.featured h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 55rem;
  text-align: center;

}

.get-started {
  width: 40rem;
  height: 4rem;
  display: flex;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.get-started input {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 5px 15px;
}

.get-started button {
  height: 4rem;
  width: 18rem;
  border: 0;
  padding: 0;
  outline: none;
  background-color: #dd0510;
  color: white;
  font-size: 1.4rem;

}

/* cards start here */

.card {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
}

.card .text-plate {
  flex: 55%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

}
.card .text-plate h1{
  font-size: 3rem;
  width: 30rem;
}
.card .text-plate h2{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 30rem;
}

.card .media-plate {
  flex: 45%;
  position: relative;
  

}


.card .media-plate img {
  width: 100%;
  height: 100%;
}

.card .media-plate .card-1-video{
  position: absolute;
  width: 73%;
  height: 72.5%;
  z-index: -1;
  left: 13%;
  top: 11%;
}
.card .media-plate .card-3-video{
  position: absolute;
  width: 62%;
  height: 72%;
  z-index: -1;
  left: 19%;
  top: 0%;
}

.card-2 .text-plate, .card-4 .text-plate{
  text-align: left;
  align-items: flex-end;
}

.card-2 .media-plate{
  position: relative;
}

.card-2 .media-plate .downloading{
  width: 65%;
  height: 26%;
  background-color: #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: #4e4d4d 2px solid;
  position: absolute;
  top: 65%;
  left: 18%;
}
.boxshot{
  width: auto!important;
  height: 100% !important;
  padding: 5px;
}
.downloading{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding-right: 1rem;
}
.downloading span{
  font-size: 11px;
}
.downloading span h3{
  color: #3835db;
  font-weight: 500;
}
.downloading span h2{
  font-weight: 500;
}
.downloading .blue-logo{
  background-color: #1657cf;
  width: 10%;
  height: 32%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}

/* faq section  */

.faq-section{
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

li{
  list-style: none;
}
.faqs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.faq{
  padding: 1rem 3rem;
  background-color: #4e4d4d;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.faq span{
  font-size: 2rem;
  cursor: pointer;
}
/* faq ends  */
/* footer starts  */
.footer{
  margin: 3rem 10rem;
 

  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  align-items: flex-start;
  opacity: 0.5;
  font-weight: 300;
  
  
}
.quick-links{
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  
}
.list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
}
.copyright{
  
  font-size: 0.85rem;
}
.list-item{
  font-size: 0.8rem;
}

/* footer ends  */
/* media queries */
@media(max-width:992px){
  html{
    font-size: 14px;
  }
  .card{
    flex-wrap: wrap;
    align-items: center;

  }
  .card .text-plate {
    text-align: center;
    align-items: center;
  }
  .card-2, .card-4{
    flex-wrap: wrap-reverse;
  }
  .downloading{
    height: 20% !important;
  }
  .blue-logo{
    width: 8% !important;
  }
}
@media (max-width:768px) {
  html{
    font-size: 10px;
  }
}

@media (max-width:576px) {
  html{
    font-size: 8px;
  }
}

@media(max-width:440px){
  html{
    font-size: 6px;
  }
}


/* height  */
@media (max-height:576px){
  .primary {
    height:576px
  }
}